<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
</head>
<body>

    <h1>📩 Contacto</h1>

<p>
    Si deseas obtener más información sobre este proyecto
    o tienes alguna duda relacionada con el contenido,
    puedes comunicarte con nosotros a través de nuestro
    correo electrónico. 📧🎨
</p>

<p>
    📧 Correo: somosartececyte@gmail.com
</p>

<a href="/">🏠 Regresar al inicio</a>

</body>
</html>